.about1
{
    height: 55px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 130px;
    left: 244px;
}
.about2
{
    height: 55px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 145px;
    left: 244px;
}
.about3
{
    height: 55px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 160px;
    left: 244px;
}
.about4
{
    height: 55px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 175px;
    left: 244px;
}
.about5
{
    height: 55px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 190px;
    left: 244px;
}
.aboutsubmit
{
    height: 50px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    top: 205px;
    left: 244px;
    background-color:#f45ca5;
}
.aboutdetailh1
{
    position: relative;
    top: 130px;
    left: 250px;
}
@media (max-width:576px) {
    #aboutdiv
    {
        position: relative;
        right: 240px;
    }
}
/* @media (max-width:1110px) {
    #about1
    {
        position: relative;
        left: 200px;
    }
    #about2
    {
        position: relative;
        left: 200px;
    }
    #about3
    {
        position: relative;
        left: 200px;
    }
    #about4
    {
        position: relative;
        left: 200px;
    }
    #about5
    {
        position: relative;
        left: 200px;
    }
    #aboutsubmit
    {
        position: relative;
        left: 200px;
    }
} */